{{#extends 'base'}}

{{#block 'content'}}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each luggages}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.model}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.description}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}